.App {
  text-align: center;
}

:root {

  color-scheme: light dark;

  --light-bg: rgb(248, 248, 248);
  --light-color: rgb(0, 0, 0);

  --dark-bg: rgb(0, 0, 0);
  --dark-color: rgb(250, 250, 250);
}

* {
  background-color: light-dark(var(--light-bg), var(--dark-bg));
  color: light-dark(var(--light-color), var(--dark-color));
}
.main{
  color: light-dark(var(--light-code), var(--dark-code));
  background-color: light-dark(var(--light-code), var(--dark-code));

  font-size: 45px;
  padding: 10px;
  margin:0 auto;
  width: 20%;

  border-radius: 20px;
  text-align: center;
  margin-top:40px;
}